#
# suse-base-profile
#
# Copyright (C) 2025   darix
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

{%- set ignored_settings = ['DOMAINS_TXT', 'DOMAINS_D' ] %}
{%- for key, value in pillar.dehydrated.config.items() %}
{%- set setting = key|upper %}
{%- if not(setting in ignored_settings) %}
{{ setting }}="{{ value }}"
{%- endif %}
{%- endfor %}
DOMAINS_TXT="${BASEDIR}/salt-domains.txt"
DOMAINS_D="${BASEDIR}/domains.d/"
RENEW_DAYS="14"
