{%- if 'sshkeys' in pillar %}
{%- for username, keylines in pillar.sshkeys.users | dictsort %}
# {{ username }}
{%- for keyline in keylines %}
{{ keyline }} {{ username }}
{%- endfor %}
{%- endfor %}
{%- endif %}