#
# suse-base-profile
#
# Copyright (C) 2025   darix
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

{%- from 'profile-base/helpers/dehydrated_helpers.sls' import acls %}
{%- from 'profile-base/helpers/dehydrated_helpers.sls' import postrun_hooks %}
{%- from 'profile-base/helpers/dehydrated_helpers.sls' import services %}
#!/bin/bash
check_recent_cert() {
  cert=$1
  local cert_time=$(date -d "$(openssl x509 -in "$cert" -noout -startdate | cut -d= -f2)" +%s)
  local current_time=$(date +%s)
  if [[ $(( current_time - cert_time )) -le 600 ]]; then
    return 0
  fi
  return 1
}
{%- for certname, certdata in pillar.dehydrated.certs.items() %}
if check_recent_cert {{ salt['dehydrated_helper.certpaths'](certdata)[0] }} ; then
{{ acls(certdata) }}
{{ postrun_hooks(certdata) }}
{{ services(certdata) }}
fi
{%- endfor %}
