# {{ pillar.greeting }}
{%- for setting, value in rsync_pillar_defaults.items() %}
    {%- if value is sequence and not value is string %}
       {%- set value = ', ' ~ value|join(', ') %}
    {%- endif %}
{{ setting }} = {{ value }}
{%- endfor %}

# modules
{%- for module_name, module_data in rsync_pillar_modules.items() %}
[{{ module_name }}]
  {%- for setting, value in module_data.items() %}
    {%- if value is sequence and not value is string %}
       {%- set value = ', ' ~ value|join(', ') %}
    {%- endif %}
    {{ setting }} = {{ value }}
  {%- endfor %}
{%- endfor %}
